:root {
    --search-button-width: 8ch;
    --mx: 1ch;
    --legacy-box-shadow: 0rem 0.125rem 0.375rem rgba(0,0,0,.1) , 0rem 0.5rem 1rem rgba(0,0,0,.08);
}

* {
    box-sizing: border-box;
    border-radius: .5ch;
/*    border-radius: 5px;*/
/*    
    margin: 0;
    padding: 0;
*/
}

body {
    margin: 0;
/*    padding-inline: .5rem;*/
    overflow-y: hidden;
}

main {
    overflow-y: hidden;
/*    overflow-x: auto;*/
    scroll-behavior: smooth;
}

ul {
    padding: 0;
}

.search_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
/*    padding-block: var(--mx);*/
    padding: var(--mx);
    gap: 1ch;
    position: relative;
    
/*    padding: 1ch;*/
}

.search_container__search_bar {
    width: calc(100% - var(--mx));
    height: 2.75rem;
    font-size: 1em;
/*    border-radius: 1ch;*/
    padding-inline: 1ch;
    border-color: transparent;
    border-color: whitesmoke;
    border-radius: 3ch 3ch;
    box-shadow: var(--legacy-box-shadow);
/*    box-shadow: 0px 0px 3px 0px #000000;*/
/*    margin: var(--mx);*/
}

.search_container__search_button {
    position: absolute;
    right: 0;
    height: 2.75rem;
    width: var(--search-button-width);
    border-radius: 1ch;
    padding-inline: 1ch;
    border-radius: 0 3ch 3ch 0;
    margin-right: 1ch;
    border: none;
/*    border: black inset;*/
    cursor: pointer;
/*    margin: var(--mx);*/
}

.search_container__search_button:hover {
    filter: brightness(.9);
}

/*.search_container:hover .search_container__search_button {
    background-color: blue;
    color: white;
}*/


.search_container__search_bar:focus+.search_container__search_button {
    filter: invert(100%);
}

/*.search_container__search_button:focus {
    border: none;
    filter: invert(100%);
}
*/
.nav {
/*    margin-block: .5rem;*/
/*    padding-inline: .5rem;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--mx) 1rem;
}

.link-button {
    display: inline-block;
    padding-block: 0;
/*    height: 1ch;*/
    height: 2.5em;
/*    scroll-behavior: smooth;*/
}

.link-button i {
    vertical-align: bottom;
/*    height: 100%;*/
/*    font-size: 1.5rem;*/
/*    height: 100%;*/
    
}

.link-button:active {
    color: red;
}

.nav__scroll_buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1ch;
    margin: 0;
/*    padding-block: 1ch;*/
/*    scroll-behavior: smooth;*/
}



.results_container {
    display: flex;
    flex: row nowrap;
/*    overflow-y: auto;*/
/*    overflow-x: auto;*/
}

.long-narrow-container {
/*    max-height: 90vh;*/
/*    min-height: 89vh;*/
    height: 80vh;
/*    height: calc(99vh -2.75rem -4*var(--mx));*/
/*    height: calc(90vh -2.75rem - 1.25rem);*/
    min-width: 38ch;
    max-width: 38ch;
/*    width: calc(38*8px);*/
/*    min-width: 304px;*/
    overflow-y: auto;
}

.container_title {
    border-bottom: 1px solid gray;
    font-family: sans-serif;
    color: #999;
    padding: 4px;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 9;
/*    position: relative;*/

}

li {
    display: block;
    padding: .5rem;
    border-radius: 2ch;
    margin-inline: 1ch;
    padding-block: .5ch;
}

li:active {
    background-color: rgba(0, 0, 0, .1);
/*    filter: brightness(.5);*/
}

a {
    color: navy;
}

a:visited {
    color: rebeccapurple;
}

a * {
    margin: 0;
    margin-block: 4px;
}

a p {
    color: gray;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover h3 {
    text-decoration: underline;
}

.fade {
  position: relative;
  overflow: hidden;
/*  height: 3.6em;*/
  /* exactly three lines */
/*  height: calc(1.2em * 4);*/
}

.fade::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 50%);
}

li:active .fade::after {
    background: none;
}


.url {
/*    min-height: 1rem;*/
    overflow: hidden;
    white-space: nowrap;
/*    background-color: #ddd;*/
}

.title, .full-name {
    width: 100%;
    min-height: 1.5rem;
/*    background-color: currentColor;*/
/*    background-color: rgba(44, 44, 44);*/
}

.abstract {
/*    min-height: 5rem;*/
/*    max-height: 5rem;*/
/*    background-color: #bbb;*/
/*    white-space: nowrap;*/

    --lines: 4;
    height: calc(1.2em * var(--lines));
    display: -webkit-box;
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hyperlink_container, .permalink {
    display: block;
}

.wide-broad-thumbnail {
    display: block;
/*    width: 30ch;*/
/*    min-height: 8rem;*/
/*    height: 8rem;*/
/*    width: auto;*/
/*    min-width: 100%;*/
/*    height: auto;*/
    

    width: auto;
    max-width: 100%;
/*    width: 100%;*/
    height: 19ch;
    aspect-ratio: 16 / 9;
/*    aspect-ratio: 3 / 2 ;*/
/*    background-color: #eee;*/
    object-fit: cover;
}

.description {
/*    min-height: 2rem;*/
/*    max-height: 2rem;*/
/*    background-color: #bbb;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis;*/

    --lines: 2;
    height: calc(1.2em * var(--lines));
    display: -webkit-box;
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reddit-search-result-box {
    display: flex;
    flex-flow: row nowrap;
/*    align-items: center;*/
    align-items: flex-start;
/*    justify-content: flex-start;*/
}

.no-img {
    height: 0 !important;
    display: none;
}

.short-square-thumbnail {
    aspect-ratio: 1/1;
/*    height: 50px;*/
/*    width: min-content;*/
/*    max-height: 50px;*/
/*    max-height: 100%;*/

/*    max-height: 4.5rem;*/

/*    height: auto;*/
/*    max-width: 4.5rem;*/
    height: 4.5rem;
    width: auto;
/*    outline: 2px solid hotpink;*/
    object-fit: cover;
/*    object-fit: contain;*/
/*    margin-inline-start: 1ch;*/
/*    float: left;*/
}

.title--reddit {
    min-height: 3rem;
/*    margin-block-start: 0;*/
/*    height: 100%;*/
/*    width: calc(100% - 4.5rem - 2ch);*/
    margin: 0;
    margin-inline-start: 1ch;
    width: 100%;
}

.subreddit, .language {
    display: inline-block;
    min-height: 1rem;
/*    background-color: #bbb;*/
/*    width: 8rem;*/
/*    min-width: 2rem;*/
    margin: 0;
    margin-block: .5ch;
/*    margin-inline-start: 1ch;*/
}

.language {
    margin-inline: 0;
    display: inline-block;
    padding: 2px 4px;
    background-color: rgba(0, 0, 0,.1);
    text-decoration: overline;
}

.clear {
    clear: right;
    display: block;
}

.long-narrow-container * {
/*    margin: 0;*/
/*    padding: 0;*/
}

.pill {
    border-radius: 2ch;
/*    border: 2px solid red;*/
    background-color: navajowhite;
    background-color: darkred;
    color: white;
    padding-inline: 1ch;
    padding-inline-end: 1.25ch;

    padding-block-end: 2px;
}