doctype html
html(lang="en")
  head
    title Missing Query Parameter
    link(rel="stylesheet", href="/css/error.css")
  body
    .error-container
      h1 Oops!
      p It looks like you're missing a query parameter.
      p Please check your request and try again.
      a(href="/" class="back-home") Go Back Home
